* {
    outline: 1px solid orange;
}

body {
    width: 1280px;
    padding: 10px 0px;
    margin: 0px auto;
    background-color: #222222;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    color: #fff;
}

header {
    margin: 10px 0px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #222222;
}

nav {
    padding: 33px 80px 10px;
    margin-bottom: 16px;
}

header ul {
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    max-width: 700px;
}

header li {
    margin-right: 30px;
    display: inline;
}

.icon {
    float: right;
}

.first_screen {
    margin: 0px;
    padding: 0px 80px 100px;
    display: flex;
    justify-content: space-between;
}

.block_heading {
    width: 245px;
    margin: 0px;
    padding: 70px 70px 70px 125px;
    text-align: center;
}

.block_img {
    width: 440px;
}

a {
    text-decoration: none;
    color: #d4d4d4;
}

main,
div {
    margin: 0px;
}

.img_logo {
    width: 60px;
    padding: 0px;
    margin: 60px;
}

h1 {
    font-family: "Courter New Bold", "Courter Bolt", serif;
    font-size: 45px;
    text-align: left;
    color: #fff;
    font-weight: bold;
}

p {
    text-align: left;
}

.advantages {
    display: flex;
    margin: 0px;
    padding: 40px 160px 30px;
    justify-content: space-between;
    background-color: #131313;
}

.advantages_element {
    width: 180px;
    margin: 30px 0px 35px;
    padding: 45px 0px;
}

.main {
    Margin: 0px;
    padding: 60px 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
}

.content {
    height: 350px;
    width: 440px;
    margin: 0px;
    margin-bottom: 80px;
}

.text {
    color: #131313;
    font-family: "Courier New";
    size: 24px;
}

.text1 {
    color: #222;

}


li {
    list-style-type: none;
}

.li::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #ffcb06;
    border-radius: 50%;
    top: 5px;
    left: -25px;

}

.li {
    position: relative;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

.footer {
    display: flex;
    margin: 0px;
    padding: 40px 160px 30px;
    justify-content: space-between;
    background-color: #131313;
}

.footer_element {

}

.footer_element ul {
    padding: 0px;
}

.footer_element li {
    color: #888;
}

.footer_element p {
    color: #888;
}

.img_logo1 {
    width: 60px;
    padding: 0px;
    margin: 0px;
    
}


.footer_menu,
.footer_submenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.footer_menu{
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.footer_submenu{
    width: 180px;
    
}

.copir{
    width: 180px;
}




















































